<%- include('partials/header') -%>
<body class="bg-dark">
<div class="bg-dark text-secondary py-5 mt-10 text-center">
    <img class="d-block mx-auto mb-4" src="food.jpg" alt="" height="200px" width="300px" >
    <h1 class="text-light display-5 fw-bold">Sahdev Food Corner</h1>
    <div class="col-lg-6 mx-auto">
      <p class="text-warning lead mb-4">Give us a chance to serve you. Send us your feedback on the services provided by us . You have to register yourself for sending the feedback . Your feedback will be visible to all. We will be trying our best to serve you the way you need.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="/feedback" class="btn btn-primary btn-lg">Feedbacks</a>
        <a href="/register" class="btn btn-secondary btn-lg">Sign Up</a>
        <a href="/login" class="btn btn-primary btn-lg">Sign In</a>
      </div>
    </div>
  </div>
  </div><%- include('partials/footer') -%>
